@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Righteous&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    width: 100%;
    min-height: 100%;
    position: absolute;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Righteous', cursive;
    font-size: 400%;
    text-transform: uppercase;
    color: #F8E924;
}

p {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

/***********Header*/
header {
    background-color: #2da7d9;
    border-bottom: 2px solid #F8E924;
    min-height: 15%;
    width: 100%;
}

nav ul li {
    padding: 10px 0;
    background-color: #F8E924;
    color: #2da7d9;
    border: solid 1px white;
}

nav ul li a {
    font-family: 'Raleway', sans-serif;
    color: #2da7d9;    
    font-weight: 500;
    font-size: 150%;
    text-decoration: none;
    padding: 15px 0;
}

.nav-game-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    font-family: 'Righteous', cursive;
    font-size: 150%;
    text-decoration: none;
    background-color: #F8E924;
    color: #2da7d9;
}

.nav-game-button a {
    text-decoration: none;

}

.nav-game-button a:hover {
    text-decoration: none;
}


.navbar-toggler-icon {
    color: #f7f7f7;
    font-size: 2rem;
    padding: 8px;
    border: solid 1px #F8E924;
}

/***********Index Page*/

.index-body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    background-color: #ff68a8;
}

.index-body::before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-image: url("../images/sonder-quest-6_tSiHVv_y4-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
}

.index-play-game {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    width: 50%;
    height: 7%;
    background-color: #F8E924;
}

.index-play-game h4 {
    position: relative;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #2da7d9;
}

.index-play-game a {
    text-decoration: none;
}

.index-play-game a:hover {
    text-decoration: none;
}

.index-scoreboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    width: 50%;
    height: 7%;
    background-color: #F8E924;
}

.index-scoreboard h4 {
    position: relative;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #2da7d9;
}

.index-scoreboard a {
    text-decoration: none;
}

.index-scoreboard a:hover {
    text-decoration: none;
}

/***********Game Page*/

.game-body {
    width: 100%;
    min-height: 45vw;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}

.game-body h3 {
    color: black;
    margin: 0 auto;
}

.game-board {
    min-height: 90vh;
    background-color: #F8E924;
    margin: 0 auto;
    padding: 0;
} 

.congrats-score-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 3px solid white;
    z-index: 100;
    background-color: #2da7d9;
    color: #F8E924;
    width: 600px;
    max-width: 80%;
    padding: 20px;
    border-radius: 10px;
}

.congrats-score-message.active {
    transform: translate(-50%, -50%) scale(1);
}

.congrats-score-message button {
    padding: 2px;
    font-family: 'Raleway', sans-serif;

}

.congrats-score-message button a {
    text-decoration: none;
}

.congrats-score-message button a:hover {
    text-decoration: none;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.timer { 
    min-height: 10em;
    width: 10em;
    background-color: white;
    border-radius: 50%;
    border: solid 1px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Raleway', sans-serif;
    color: #32CD32;
}

.timer p {
    font-size: 500%; 
    color: #32CD32;   
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    display: block;
}

.timer i {
    font-size: 500%; 
    color: #32CD32;   
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    display: block;
}

.timer-icon-style { 
    color: #32CD32; 
    font-size: 100%;
    padding: 0;
    margin: 0 auto;
}

.outer-ring {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 1000px;

}


.middle-ring {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 1000px;
}

.inner-ring {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 1000px;
}


.tile {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform: scale(1);
    transform-style: preserve-3d;
}

.tile.done {
    cursor: default;
}

.tile.done:hover {
    cursor: default;
    box-shadow: none;
}

.null {
    pointer-events: none;
}

.tile-front {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: solid 1px black;
    background-color: white;
    position: absolute;
    padding: 0;
    margin: 0 auto;
}

.tile-front i {
    font-size: 2.5em;    
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    width: 1.1em;
    height: 1.1em;
    display: block;
}

.tile-front,.tile-back:hover {
    border: solid 2px white;
}


.tile .tile-front {
    transform: rotateY(-360deg);
}

.tile-back {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: solid 1px black;
    background-color: #ff68a8;
    color: #ff68a8;
    position: absolute;
}

.outer-ring .tile:nth-child(1) {
    transform: rotate(0deg) translate(19em);
}

.outer-ring .tile:nth-child(2) {
    transform: rotate(24deg) translate(19em);
}

.outer-ring .tile:nth-child(3) {
    transform: rotate(48deg) translate(19em);
}

.outer-ring .tile:nth-child(4) {
    transform: rotate(72deg) translate(19em);
}

.outer-ring .tile:nth-child(5) {
    transform: rotate(96deg) translate(19em);
}

.outer-ring .tile:nth-child(6) {
    transform: rotate(120deg) translate(19em);
}

.outer-ring .tile:nth-child(7) {
    transform: rotate(144deg) translate(19em);
}

.outer-ring .tile:nth-child(8) {
    transform: rotate(168deg) translate(19em);
}

.outer-ring .tile:nth-child(9) {
    transform: rotate(192deg) translate(19em);
}

.outer-ring .tile:nth-child(10) {
    transform: rotate(216deg) translate(19em);
}

.outer-ring .tile:nth-child(11) {
    transform: rotate(240deg) translate(19em);
}

.outer-ring .tile:nth-child(12) {
    transform: rotate(264deg) translate(19em);
}

.outer-ring .tile:nth-child(13) {
    transform: rotate(288deg) translate(19em);
}

.outer-ring .tile:nth-child(14) {
    transform: rotate(312deg) translate(19em);
}

.outer-ring .tile:nth-child(15) {
    transform: rotate(336deg) translate(19em);
}


.middle-ring .tile:nth-child(1) {
    transform: rotate(0deg) translate(12em);
}

.middle-ring .tile:nth-child(2) {
    transform: rotate(36deg) translate(12em);
}

.middle-ring .tile:nth-child(3) {
    transform: rotate(72deg) translate(12em);
}

.middle-ring .tile:nth-child(4) {
    transform: rotate(108deg) translate(12em);
}

.middle-ring .tile:nth-child(5) {
    transform: rotate(144deg) translate(12em);
}

.middle-ring .tile:nth-child(6) {
    transform: rotate(180deg) translate(12em);
}

.middle-ring .tile:nth-child(7) {
    transform: rotate(216deg) translate(12em);
}

.middle-ring .tile:nth-child(8) {
    transform: rotate(252deg) translate(12em);
}

.middle-ring .tile:nth-child(9) {
    transform: rotate(288deg) translate(12em);
}

.middle-ring .tile:nth-child(10) {
    transform: rotate(324deg) translate(12em);
}

.inner-ring .tile:nth-child(1) {
    transform: rotate(0deg) translate(5em);
}

.inner-ring .tile:nth-child(2) {
    transform: rotate(72deg) translate(5em);
}

.inner-ring .tile:nth-child(3) {
    transform: rotate(144deg) translate(5em);
}

.inner-ring .tile:nth-child(4) {
    transform: rotate(216deg) translate(5em);
}

.inner-ring .tile:nth-child(5) {
    transform: rotate(288deg) translate(5em);
}


.score-tally {
    width: 25%;
    height: 100px;
    border: 1px solid black;
    background-color: #2da7d9;
    color: black;
    position: absolute;
    bottom: 5%;
    left: 5%;

}

.score-tally h5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.reset-button {
    width: 20%;
    height: 50px;
    border: 1px solid black;
    background-color: #2da7d9;
    color: black;
    position: absolute;
    bottom: 10%;
    right: 5%;
}


/***********Scoreboard Page*/

.table {
    background-color: #ff9bc5;
    color: white;
    width: 100%;
    min-height: 50vw;
    font-family: "Raleway", sans-serif;;
    text-align: center;
    font-size: 150%;
}

.table thead tr {
    margin: 0 auto;
    background-color: #ff68a8;
    
}


/***********Contact Us Page*/

.contactus-pg {
    text-align: center;
    width: 100%;
    min-height: 45vw;
    height: 100%;
    background-color: #ff68a8;
    background-size: cover;
    overflow: hidden;
}

.contactus-pg h3 {
    padding: 15px;
    font-size: 200%;
}

.welcome-message {
    border: 1px solid black;
    background-color: #2da7d9;
}

.welcome-message p {
    margin: 0 auto;
    font-size: 150%;
    font-weight: 600;
    color: #F8E924;
}

.contact-form {
    text-align: left;
    width: 80%;
}

.contact-form form .form-group input {
    text-align: left;
    width: 80%;
    background-color: #F8E924;
}

.contact-form form textarea {
    text-align: left;
    width: 100%;
    background-color: #F8E924;
}

.contact-form label {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
}

.contact-form input.btn {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    width: 25%;
    background-color: #2da7d9;
    color: #F8E924;
}

/***********Icon Correction*/

.icon1 i {
    transform: rotate(0deg);
}

.icon2 i {
    transform: rotate(-24deg);
}

.icon3 i {
    transform: rotate(-48deg);
}

.icon4 i {
    transform: rotate(-72deg);
}

.icon5 i {
    transform: rotate(-96deg);
}

.icon6 i {
    transform: rotate(-120deg);
}

.icon7 i {
    transform: rotate(-144deg);
}

.icon8 i {
    transform: rotate(-168deg);
}

.icon9 i {
    transform: rotate(-192deg);
}

.icon10 {
    transform: rotate(-216deg);
}

.icon11 {
    transform: rotate(-240deg);
}

.icon12 {
    transform: rotate(-264deg);
}

.icon13 {
    transform: rotate(-288deg);
}

.icon14 {
    transform: rotate(-312deg);
}

.icon15 {
    transform: rotate(-336deg);
}


.icon16 {
    transform: rotate(0deg);
}

.icon17 {
    transform: rotate(-36deg);
}

.icon18 {
    transform: rotate(-72deg);
}

.icon19  {
    transform: rotate(-108deg);
}

.icon20 {
    transform: rotate(-144deg);
}

.icon21 {
    transform: rotate(-180deg);
}

.icon22 {
    transform: rotate(-216deg);
}

.icon23 {
    transform: rotate(-252deg);
}

.icon24 {
    transform: rotate(-288deg);
}

.icon25 {
    transform: rotate(-324deg);
}


.icon26 {
    transform: rotate(0deg);
}

.icon27 {
    transform: rotate(-72deg) !important;
}

.icon28 {
    transform: rotate(-144deg) !important;
}

.icon29 {
    transform: rotate(-216deg) !important;
}

.icon30 {
    transform: rotate(-288deg) !important;
}


/***********Mobile Size Game

@media (max-width: 480px) {
    .timer { 
        min-height: 4em;
        width: 4em;
        background-color: white;
        border-radius: 50%;
        border: solid 1px black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .tile-back {
        width: 2em;
        height: 2em;
        border-radius: 50%;
        border: solid 1px black;
        background-color: #ff68a8;
        z-index: 101;
        position: absolute;
    }
    
    .tile-front {
        width: 2em;
        height: 2em;
        border-radius: 50%;
        border: solid 1px black;
        background-color: white;
        z-index: 100;
        position: absolute;
    }
    
    .tile-back:hover {
        border: solid 2px white;
    }
    
    .tile-front:hover {
        border: solid 2px white;
    }
    
    .outer-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(8em);
    }
    
    .outer-ring .tile:nth-child(2) {
        transform: rotate(24deg) translate(8em);
    }
    
    .outer-ring .tile:nth-child(3) {
        transform: rotate(48deg) translate(8em);
    }
    
    .outer-ring .tile:nth-child(4) {
        transform: rotate(72deg) translate(8em);
    }
    
    .outer-ring .tile:nth-child(5) {
        transform: rotate(96deg) translate(8em);
    }
    
    .outer-ring .tile:nth-child(6) {
        transform: rotate(120deg) translate(8em);
    }
    
    .outer-ring .tile:nth-child(7) {
        transform: rotate(144deg) translate(8em);
    }
    
    .outer-ring .tile:nth-child(8) {
        transform: rotate(168deg) translate(8em);
    }
    
    .outer-ring .tile:nth-child(9) {
        transform: rotate(192deg) translate(8em);
    }
    
    .outer-ring .tile:nth-child(10) {
        transform: rotate(216deg) translate(8em);
    }
    
    .outer-ring .tile:nth-child(11) {
        transform: rotate(240deg) translate(8em);
    }
    
    .outer-ring .tile:nth-child(12) {
        transform: rotate(264deg) translate(8em);
    }
    
    .outer-ring .tile:nth-child(13) {
        transform: rotate(288deg) translate(8em);
    }
    
    .outer-ring .tile:nth-child(14) {
        transform: rotate(312deg) translate(8em);
    }
    
    .outer-ring .tile:nth-child(15) {
        transform: rotate(336deg) translate(8em);
    }
    
    
    .middle-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(5em);
    }
    
    .middle-ring .tile:nth-child(2) {
        transform: rotate(36deg) translate(5em);
    }
    
    .middle-ring .tile:nth-child(3) {
        transform: rotate(72deg) translate(5em);
    }
    
    .middle-ring .tile:nth-child(4) {
        transform: rotate(108deg) translate(5em);
    }
    
    .middle-ring .tile:nth-child(5) {
        transform: rotate(144deg) translate(5em);
    }
    
    .middle-ring .tile:nth-child(6) {
        transform: rotate(180deg) translate(5em);
    }
    
    .middle-ring .tile:nth-child(7) {
        transform: rotate(216deg) translate(5em);
    }
    
    .middle-ring .tile:nth-child(8) {
        transform: rotate(252deg) translate(5em);
    }
    
    .middle-ring .tile:nth-child(9) {
        transform: rotate(288deg) translate(5em);
    }
    
    .middle-ring .tile:nth-child(10) {
        transform: rotate(324deg) translate(5em);
    }
    
    
    .inner-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(2em);
    }
    
    .inner-ring .tile:nth-child(2) {
        transform: rotate(72deg) translate(2em);
    }
    
    .inner-ring .tile:nth-child(3) {
        transform: rotate(144deg) translate(2em);
    }
    
    .inner-ring .tile:nth-child(4) {
        transform: rotate(216deg) translate(2em);
    }
    
    .inner-ring .tile:nth-child(5) {
        transform: rotate(288deg) translate(2em);
    }
    
}

@media (max-width: 576px) {
    .timer { 
        min-height: 6.5em;
        width: 6.5em;
        background-color: white;
        border-radius: 50%;
        border: solid 1px black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .tile-back {
        width: 3.25em;
        height: 3.25em;
        border-radius: 50%;
        border: solid 1px black;
        background-color: #ff68a8;
        z-index: 101;
        position: absolute;
    }
    
    .tile-front {
        width: 3.25em;
        height: 3.25em;
        border-radius: 50%;
        border: solid 1px black;
        background-color: white;
        z-index: 100;
        position: absolute;
    }
    


    .tile-back:hover {
        border: solid 2px white;
    }
    
    .tile-front:hover {
        border: solid 2px white;
    }
    
    .outer-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(2) {
        transform: rotate(24deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(3) {
        transform: rotate(48deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(4) {
        transform: rotate(72deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(5) {
        transform: rotate(96deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(6) {
        transform: rotate(120deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(7) {
        transform: rotate(144deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(8) {
        transform: rotate(168deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(9) {
        transform: rotate(192deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(10) {
        transform: rotate(216deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(11) {
        transform: rotate(240deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(12) {
        transform: rotate(264deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(13) {
        transform: rotate(288deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(14) {
        transform: rotate(312deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(15) {
        transform: rotate(336deg) translate(12.75em);
    }
    
    
    .middle-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(2) {
        transform: rotate(36deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(3) {
        transform: rotate(72deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(4) {
        transform: rotate(108deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(5) {
        transform: rotate(144deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(6) {
        transform: rotate(180deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(7) {
        transform: rotate(216deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(8) {
        transform: rotate(252deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(9) {
        transform: rotate(288deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(10) {
        transform: rotate(324deg) translate(8em);
    }
    
    .inner-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(3.25em);
    }
    
    .inner-ring .tile:nth-child(2) {
        transform: rotate(72deg) translate(3.25em);
    }
    
    .inner-ring .tile:nth-child(3) {
        transform: rotate(144deg) translate(3.25em);
    }
    
    .inner-ring .tile:nth-child(4) {
        transform: rotate(216deg) translate(3.25em);
    }
    
    .inner-ring .tile:nth-child(5) {
        transform: rotate(288deg) translate(3.25em);
    }
    
}
*/
/***********Tablet Size Game*/
/*
@media (min-width: 768px) {
    .timer { 
        min-height: 9em;
        width: 9em;
        background-color: white;
        border-radius: 50%;
        border: solid 1px black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .tile-back {
        width: 4.5em;
        height: 4.5em;
        border-radius: 50%;
        border: solid 1px black;
        background-color: #ff68a8;
        z-index: 101;
        position: absolute;
    }
    
    .tile-front {
        width: 4.5em;
        height: 4.5em;
        border-radius: 50%;
        border: solid 1px black;
        background-color: white;
        z-index: 100;
        position: absolute;
    }
    
    .tile-back:hover {
        border: solid 2px white;
    }
    
    .tile-front:hover {
        border: solid 2px white;
    }
    
    .outer-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(2) {
        transform: rotate(24deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(3) {
        transform: rotate(48deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(4) {
        transform: rotate(72deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(5) {
        transform: rotate(96deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(6) {
        transform: rotate(120deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(7) {
        transform: rotate(144deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(8) {
        transform: rotate(168deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(9) {
        transform: rotate(192deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(10) {
        transform: rotate(216deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(11) {
        transform: rotate(240deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(12) {
        transform: rotate(264deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(13) {
        transform: rotate(288deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(14) {
        transform: rotate(312deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(15) {
        transform: rotate(336deg) translate(16.5em);
    }
    
    
    .middle-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(10.5em);
    }
    
    .middle-ring .tile:nth-child(2) {
        transform: rotate(36deg) translate(10.5em);
    }
    
    .middle-ring .tile:nth-child(3) {
        transform: rotate(72deg) translate(10.5em);
    }
    
    .middle-ring .tile:nth-child(4) {
        transform: rotate(108deg) translate(10.5em);
    }
    
    .middle-ring .tile:nth-child(5) {
        transform: rotate(144deg) translate(10.5em);
    }
    
    .middle-ring .tile:nth-child(6) {
        transform: rotate(180deg) translate(10.5em);
    }
    
    .middle-ring .tile:nth-child(7) {
        transform: rotate(216deg) translate(10.5em);
    }
    
    .middle-ring .tile:nth-child(8) {
        transform: rotate(252deg) translate(10.5em);
    }
    
    .middle-ring .tile:nth-child(9) {
        transform: rotate(288deg) translate(10.5em);
    }
    
    .middle-ring .tile:nth-child(10) {
        transform: rotate(324deg) translate(10.5em);
    }
    
    
    .inner-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(4.5em);
    }
    
    .inner-ring .tile:nth-child(2) {
        transform: rotate(72deg) translate(4.5em);
    }
    
    .inner-ring .tile:nth-child(3) {
        transform: rotate(144deg) translate(4.5em);
    }
    
    .inner-ring .tile:nth-child(4) {
        transform: rotate(216deg) translate(4.5em);
    }
    
    .inner-ring .tile:nth-child(5) {
        transform: rotate(288deg) translate(4.5em);
    }
}
*/
/***********Laptop Size Game*/
/*
@media (min-width: 1025px) {
    .timer { 
        min-height: 7em;
        width: 7em;
        background-color: white;
        border-radius: 50%;
        border: solid 1px black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .tile-back {
        width: 3.5em;
        height: 3.5em;
        border-radius: 50%;
        border: solid 1px black;
        background-color: #ff68a8;
        z-index: 101;
        position: absolute;
    }
    
    .tile-front {
        width: 3.5em;
        height: 3.5em;
        border-radius: 50%;
        border: solid 1px black;
        background-color: white;
        z-index: 100;
        position: absolute;
    }
    
    .tile-back:hover {
        border: solid 2px white;
    }
    
    .tile-front:hover {
        border: solid 2px white;
    }
    
    .outer-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(2) {
        transform: rotate(24deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(3) {
        transform: rotate(48deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(4) {
        transform: rotate(72deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(5) {
        transform: rotate(96deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(6) {
        transform: rotate(120deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(7) {
        transform: rotate(144deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(8) {
        transform: rotate(168deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(9) {
        transform: rotate(192deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(10) {
        transform: rotate(216deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(11) {
        transform: rotate(240deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(12) {
        transform: rotate(264deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(13) {
        transform: rotate(288deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(14) {
        transform: rotate(312deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(15) {
        transform: rotate(336deg) translate(12.5em);
    }
    
    
    .middle-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(2) {
        transform: rotate(36deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(3) {
        transform: rotate(72deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(4) {
        transform: rotate(108deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(5) {
        transform: rotate(144deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(6) {
        transform: rotate(180deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(7) {
        transform: rotate(216deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(8) {
        transform: rotate(252deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(9) {
        transform: rotate(288deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(10) {
        transform: rotate(324deg) translate(8em);
    }
    
    
    .inner-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(3.5em);
    }
    
    .inner-ring .tile:nth-child(2) {
        transform: rotate(72deg) translate(3.5em);
    }
    
    .inner-ring .tile:nth-child(3) {
        transform: rotate(144deg) translate(3.5em);
    }
    
    .inner-ring .tile:nth-child(4) {
        transform: rotate(216deg) translate(3.5em);
    }
    
    .inner-ring .tile:nth-child(5) {
        transform: rotate(288deg) translate(3.5em);
    }
}
*/
/***********Desktop Size Game*/

/*
@media (min-width: 1440px) {
    .timer { 
        min-height: 10em;
        width: 10em;
        background-color: white;
        border-radius: 50%;
        border: solid 1px black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .tile-back {
        width: 5em;
        height: 5em;
        border-radius: 50%;
        border: solid 1px black;
        background-color: #ff68a8;
    }
    
    .tile-front {
        width: 5em;
        height: 5em;
        border-radius: 50%;
        border: solid 1px black;
        background-color: white;
        z-index: 101;
    }

    .tile .tile-front i {
        height: 90%;
        width: 90%;
        color: black;
        margin: 0 auto;
    }
    
    .tile:hover .tile-back {
        transform: rotateY(-180deg);
    }
    
    .tile:hover .tile-front {
        transform: rotateY(0);
    }
    
    
    .outer-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(2) {
        transform: rotate(24deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(3) {
        transform: rotate(48deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(4) {
        transform: rotate(72deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(5) {
        transform: rotate(96deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(6) {
        transform: rotate(120deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(7) {
        transform: rotate(144deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(8) {
        transform: rotate(168deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(9) {
        transform: rotate(192deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(10) {
        transform: rotate(216deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(11) {
        transform: rotate(240deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(12) {
        transform: rotate(264deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(13) {
        transform: rotate(288deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(14) {
        transform: rotate(312deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(15) {
        transform: rotate(336deg) translate(19em);
    }
    
    
    .middle-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(12em);
    }
    
    .middle-ring .tile:nth-child(2) {
        transform: rotate(36deg) translate(12em);
    }
    
    .middle-ring .tile:nth-child(3) {
        transform: rotate(72deg) translate(12em);
    }
    
    .middle-ring .tile:nth-child(4) {
        transform: rotate(108deg) translate(12em);
    }
    
    .middle-ring .tile:nth-child(5) {
        transform: rotate(144deg) translate(12em);
    }
    
    .middle-ring .tile:nth-child(6) {
        transform: rotate(180deg) translate(12em);
    }
    
    .middle-ring .tile:nth-child(7) {
        transform: rotate(216deg) translate(12em);
    }
    
    .middle-ring .tile:nth-child(8) {
        transform: rotate(252deg) translate(12em);
    }
    
    .middle-ring .tile:nth-child(9) {
        transform: rotate(288deg) translate(12em);
    }
    
    .middle-ring .tile:nth-child(10) {
        transform: rotate(324deg) translate(12em);
    }
    
    
    .inner-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(5em);
    }
    
    .inner-ring .tile:nth-child(2) {
        transform: rotate(72deg) translate(5em);
    }
    
    .inner-ring .tile:nth-child(3) {
        transform: rotate(144deg) translate(5em);
    }
    
    .inner-ring .tile:nth-child(4) {
        transform: rotate(216deg) translate(5em);
    }
    
    .inner-ring .tile:nth-child(5) {
        transform: rotate(288deg) translate(5em);
    }
}


/***********In Game Scoreboard*/
