@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Righteous&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Righteous', cursive;
    font-size: 400%;
    text-transform: uppercase;
    color: #F8E924;
}

p {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
}

/***********Header*/
header {
    background-color: #2da7d9;
    border-bottom: 2px solid #F8E924;
    min-height: 9%;
    width: 100%;
}

nav ul li {
    padding: 10px 0;
    background-color: #F8E924;
    color: #2da7d9;
    border: solid 1px white;
}

nav ul li a {
    font-family: 'Raleway', sans-serif;
    color: #2da7d9;    
    font-weight: 500;
    font-size: 150%;
    text-decoration: none;
    padding: 25px 0;
}

.nav-game-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    font-family: 'Righteous', cursive;
    font-size: 150%;
    text-decoration: none;
    background-color: #F8E924;
    color: #2da7d9;
}

.nav-game-button a {
    text-decoration: none;

}

.nav-game-button a:hover {
    text-decoration: none;
}


.navbar-toggler-icon {
    color: #f7f7f7;
    font-size: 2rem;
    padding: 8px;
    border: solid 1px #F8E924;
}

/***********Footer*/

footer {
    background-color: #2da7d9;
    border-top: 2px solid #F8E924;
    min-height: 5vh;
    width: 100%;
}

/***********Index Page*/

.index-body {
    position: relative;
    width: 100%;
    min-height: 85.5vh;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    background-color: #ff68a8;
}

.index-body::before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-image: url("../images/sonder-quest-6_tSiHVv_y4-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.2;
}

.index-play-game {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 1px solid black;
    width: 50%;
    height: 7%;
    background-color: #F8E924;
}

.index-play-game h4 {

    position: relative;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #2da7d9;
    padding: 18px 0;
}

.index-play-game a {
    text-decoration: none;
}

.index-play-game a:hover {
    text-decoration: none;
}

.index-scoreboard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
    height: 7%;
    background-color: #F8E924;
}

.index-scoreboard h4 {
    position: relative;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #2da7d9;
    padding: 18px 0;
    
}

.index-scoreboard a {
    text-decoration: none;
}

.index-scoreboard a:hover {
    text-decoration: none;
}

/***********Game Page*/

.game-body {
    width: 100%;
    min-height: 45vw;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    background-color: #F8E924;
}

.game-body h3 {
    color: black;
    margin: 0 auto;
}

.game-board {
    position: relative;
    min-height: 85vh;
    background-color: #F8E924;
    margin: 0 auto;
    padding: 0;
} 

.congrats-score-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 3px solid white;
    z-index: 100;
    background-color: #2da7d9;
    color: #F8E924;
    width: 600px;
    max-width: 80%;
    padding: 20px;
    border-radius: 10px;
}

.congrats-score-message.active {
    transform: translate(-50%, -50%) scale(1);
}

.congrats-score-message button {
    padding: 2px;
    font-family: 'Raleway', sans-serif;

}

.congrats-score-message button a {
    text-decoration: none;
    color:black;
}

.congrats-score-message button a:hover {
    text-decoration: none;
    color:black;
}

.back-to-game {
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
    width: 65%;
    height: 100%;
    background-color: #F8E924;
    font-family: 'Raleway', sans-serif;
    color: #2da7d9;
    padding: 5.5px;
    border: 1px solid black;
    border-radius: 10px;
}

.back-to-game a {
    font-family: 'Raleway', sans-serif;
    color: #2da7d9;
    height: 100%;
    padding: 10px 10%;
    text-decoration: none;
    font-size: 110%;
    font-weight: 600;
}

.back-to-game a:hover {
    text-decoration: none;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.timer { 
    min-height: 10em;
    width: 10em;
    background-color: white;
    border-radius: 50%;
    border: solid 1px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Raleway', sans-serif;
    color: #32CD32;
}

.timer p {
    font-size: 500%; 
    color: #32CD32;   
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    display: block;
}

.timer i {
    font-size: 500%; 
    color: #32CD32;   
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    display: block;
}

.timer-icon-style { 
    color: #32CD32; 
    font-size: 100%;
    padding: 0;
    margin: 0 auto;
}

.outer-ring {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 1000px;

}


.middle-ring {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 1000px;
}

.inner-ring {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 1000px;
}


.tile {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform: scale(1);
    transform-style: preserve-3d;
}

.tile.done {
    cursor: default;
}

.tile.done:hover {
    cursor: default;
    box-shadow: none;
}

.null {
    pointer-events: none;
}

.tile-front {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: solid 1px black;
    background-color: white;
    position: absolute;
    padding: 0;
    margin: 0 auto;
    
}

.tile-front i {
    font-size: 2.5em;    
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    width: 1.1em;
    height: 1.1em;
    display: block;
}

.tile-front,.tile-back:hover {
    border: solid 2px white;
}


.tile .tile-front {
    transform: rotateY(-360deg);
}

.tile-back {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: solid 1px black;
    background-color: #ff68a8;
    color: #ff68a8;
    position: absolute;
}


.outer-ring .tile:nth-child(1) {
    transform: rotate(0deg) translate(19em);
}

.outer-ring .tile:nth-child(2) {
    transform: rotate(24deg) translate(19em);
}

.outer-ring .tile:nth-child(3) {
    transform: rotate(48deg) translate(19em);
}

.outer-ring .tile:nth-child(4) {
    transform: rotate(72deg) translate(19em);
}

.outer-ring .tile:nth-child(5) {
    transform: rotate(96deg) translate(19em);
}

.outer-ring .tile:nth-child(6) {
    transform: rotate(120deg) translate(19em);
}

.outer-ring .tile:nth-child(7) {
    transform: rotate(144deg) translate(19em);
}

.outer-ring .tile:nth-child(8) {
    transform: rotate(168deg) translate(19em);
}

.outer-ring .tile:nth-child(9) {
    transform: rotate(192deg) translate(19em);
}

.outer-ring .tile:nth-child(10) {
    transform: rotate(216deg) translate(19em);
}

.outer-ring .tile:nth-child(11) {
    transform: rotate(240deg) translate(19em);
}

.outer-ring .tile:nth-child(12) {
    transform: rotate(264deg) translate(19em);
}

.outer-ring .tile:nth-child(13) {
    transform: rotate(288deg) translate(19em);
}

.outer-ring .tile:nth-child(14) {
    transform: rotate(312deg) translate(19em);
}

.outer-ring .tile:nth-child(15) {
    transform: rotate(336deg) translate(19em);
}


.middle-ring .tile:nth-child(1) {
    transform: rotate(0deg) translate(12em);
}

.middle-ring .tile:nth-child(2) {
    transform: rotate(36deg) translate(12em);
}

.middle-ring .tile:nth-child(3) {
    transform: rotate(72deg) translate(12em);
}

.middle-ring .tile:nth-child(4) {
    transform: rotate(108deg) translate(12em);
}

.middle-ring .tile:nth-child(5) {
    transform: rotate(144deg) translate(12em);
}

.middle-ring .tile:nth-child(6) {
    transform: rotate(180deg) translate(12em);
}

.middle-ring .tile:nth-child(7) {
    transform: rotate(216deg) translate(12em);
}

.middle-ring .tile:nth-child(8) {
    transform: rotate(252deg) translate(12em);
}

.middle-ring .tile:nth-child(9) {
    transform: rotate(288deg) translate(12em);
}

.middle-ring .tile:nth-child(10) {
    transform: rotate(324deg) translate(12em);
}

.inner-ring .tile:nth-child(1) {
    transform: rotate(0deg) translate(5em);
}

.inner-ring .tile:nth-child(2) {
    transform: rotate(72deg) translate(5em);
}

.inner-ring .tile:nth-child(3) {
    transform: rotate(144deg) translate(5em);
}

.inner-ring .tile:nth-child(4) {
    transform: rotate(216deg) translate(5em);
}

.inner-ring .tile:nth-child(5) {
    transform: rotate(288deg) translate(5em);
}


.score-tally {
    width: 25%;
    height: 100px;
    border: 1px solid black;
    background-color: #2da7d9;
    color: black;
    position: absolute;
    bottom: 5%;
    left: 5%;
    border-radius: 10px;

}

.score-tally h5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.reset-button {
    font-size: 110%;
    width: 20%;
    height: 50px;
    border: 1px solid black;
    background-color: #2da7d9;
    color: black;
    position: absolute;
    bottom: 10%;
    right: 5%;
    border-radius: 10px;
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
    color: #F8E924;
}

.rules {
    text-align: center;
    font-size: 90%;
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
    color: #F8E924;
    font-weight: 600;
}


/***********Scoreboard Page*/

.scoreboard-pg {
    background-color: #ff9bc5;
    width: 100%;
    min-height: 100vh;
}

.table {
    background-color: #ff9bc5;
    color: white;
    width: 100%;
    min-height: 50vw;
    font-family: "Raleway", sans-serif;;
    text-align: center;
    font-size: 150%;
}

.table thead tr {
    margin: 0 auto;
    background-color: #ff68a8;
    
}


/***********Contact Us Page*/

.contactus-pg {
    text-align: center;
    width: 100%;
    min-height: 85.5vh;
    background-color: #ff68a8;
    background-size: cover;
    overflow: hidden;
}

.contactus-pg h3 {
    padding: 15px;
    font-size: 200%;
}

.welcome-message {
    border: 1px solid black;
    background-color: #2da7d9;
    border-radius: 10px;
}

.welcome-message p {
    margin: 0 auto;
    font-size: 150%;
    font-weight: 600;
    color: #F8E924;
}

.contact-form {
    text-align: left;
    width: 80%;
}

.contact-form form .form-group input {
    text-align: left;
    width: 80%;
    background-color: #F8E924;
}

.contact-form form textarea {
    text-align: left;
    width: 100%;
    background-color: #F8E924;
}

.contact-form label {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
}

.contact-form input.btn {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 100%;
    font-weight: 600;
    width: 30%;
    background-color: #2da7d9;
    color: #F8E924;
    border-radius: 10px;
}

/***********Icon Correction*/


.outer-ring .tile:nth-child(1) div {
    transform: rotate(0deg);
}

.outer-ring .tile:nth-child(2) div {
    transform: rotate(-24deg);
}

.outer-ring .tile:nth-child(3) div {
    transform: rotate(-48deg);
}

.outer-ring .tile:nth-child(4) div {
    transform: rotate(-72deg);
}

.outer-ring .tile:nth-child(5) div {
    transform: rotate(-96deg);
}

.outer-ring .tile:nth-child(6) div {
    transform: rotate(-120deg);
}

.outer-ring .tile:nth-child(7) div {
    transform: rotate(-144deg);
}

.outer-ring .tile:nth-child(8) div {
    transform: rotate(-168deg) ;
}

.outer-ring .tile:nth-child(9) div {
    transform: rotate(-192deg);
}

.outer-ring .tile:nth-child(10) div {
    transform: rotate(-216deg);
}

.outer-ring .tile:nth-child(11) div {
    transform: rotate(-240deg);
}

.outer-ring .tile:nth-child(12) div {
    transform: rotate(-264deg);
}

.outer-ring .tile:nth-child(13) div {
    transform: rotate(-288deg);
}

.outer-ring .tile:nth-child(14) div {
    transform: rotate(-312deg);
}

.outer-ring .tile:nth-child(15) div {
    transform: rotate(-336deg);
}


.middle-ring .tile:nth-child(1) div {
    transform: rotate(0deg);
}

.middle-ring .tile:nth-child(2) div {
    transform: rotate(-36deg);
}

.middle-ring .tile:nth-child(3) div {
    transform: rotate(-72deg);
}

.middle-ring .tile:nth-child(4) div {
    transform: rotate(-108deg);
}

.middle-ring .tile:nth-child(5) div {
    transform: rotate(-144deg);
}

.middle-ring .tile:nth-child(6) div {
    transform: rotate(-180deg);
}

.middle-ring .tile:nth-child(7) div {
    transform: rotate(-216deg);
}

.middle-ring .tile:nth-child(8) div {
    transform: rotate(-252deg);
}

.middle-ring .tile:nth-child(9) div {
    transform: rotate(-288deg);
}

.middle-ring .tile:nth-child(10) div {
    transform: rotate(-324deg) ;
}


.inner-ring .tile:nth-child(1) div {
    transform: rotate(0deg);
}

.inner-ring .tile:nth-child(2) div {
    transform: rotate(-72deg);
}

.inner-ring .tile:nth-child(3) div {
    transform: rotate(-144deg);
}

.inner-ring .tile:nth-child(4) div {
    transform: rotate(-216deg);
}

.inner-ring .tile:nth-child(5) div {
    transform: rotate(-288deg);
}



/***********Mobile Size Game*/

@media (max-width: 350px) {

    .outer-ring {
        top: 40%;
    }
    
    .middle-ring {
        top: 40%;
    }
    
    .inner-ring {
        top: 40%;
    }

    .timer { 
        min-height: 4.2em;
        width: 4.2em;
        top: 40%;
    }

    .tile-back {
        width: 2.1em;
        height: 2.1em;
    }
    
    .tile-front {
        width: 2.1em;
        height: 2.1em;
    }

    .tile-front i {
        font-size: 1.05em;    
    }

    .timer p {
        font-size: 210%; 
    }

    .timer i {
        font-size: 210%; 
    }

    .score-tally h5 {
        font-size: 80%;
    }

    .score-tally {        
        font-size: 90%;
    }

    .reset-button {
        font-size: 90%;
    }

    .rules {
        font-size: 45%;
    }

    
    .outer-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(7.6em);
    }
    
    .outer-ring .tile:nth-child(2) {
        transform: rotate(24deg) translate(7.6em);
    }
    
    .outer-ring .tile:nth-child(3) {
        transform: rotate(48deg) translate(7.6em);
    }
    
    .outer-ring .tile:nth-child(4) {
        transform: rotate(72deg) translate(7.6em);
    }
    
    .outer-ring .tile:nth-child(5) {
        transform: rotate(96deg) translate(7.6em);
    }
    
    .outer-ring .tile:nth-child(6) {
        transform: rotate(120deg) translate(7.6em);
    }
    
    .outer-ring .tile:nth-child(7) {
        transform: rotate(144deg) translate(7.6em);
    }
    
    .outer-ring .tile:nth-child(8) {
        transform: rotate(168deg) translate(7.6em);
    }
    
    .outer-ring .tile:nth-child(9) {
        transform: rotate(192deg) translate(7.6em);
    }
    
    .outer-ring .tile:nth-child(10) {
        transform: rotate(216deg) translate(7.6em);
    }
    
    .outer-ring .tile:nth-child(11) {
        transform: rotate(240deg) translate(7.6em);
    }
    
    .outer-ring .tile:nth-child(12) {
        transform: rotate(264deg) translate(7.6em);
    }
    
    .outer-ring .tile:nth-child(13) {
        transform: rotate(288deg) translate(7.6em);
    }
    
    .outer-ring .tile:nth-child(14) {
        transform: rotate(312deg) translate(7.6em);
    }
    
    .outer-ring .tile:nth-child(15) {
        transform: rotate(336deg) translate(7.6em);
    }
    
    
    .middle-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(4.6em);
    }
    
    .middle-ring .tile:nth-child(2) {
        transform: rotate(36deg) translate(4.6em);
    }
    
    .middle-ring .tile:nth-child(3) {
        transform: rotate(72deg) translate(4.6em);
    }
    
    .middle-ring .tile:nth-child(4) {
        transform: rotate(108deg) translate(4.6em);
    }
    
    .middle-ring .tile:nth-child(5) {
        transform: rotate(144deg) translate(4.6em);
    }
    
    .middle-ring .tile:nth-child(6) {
        transform: rotate(180deg) translate(4.6em);
    }
    
    .middle-ring .tile:nth-child(7) {
        transform: rotate(216deg) translate(4.6em);
    }
    
    .middle-ring .tile:nth-child(8) {
        transform: rotate(252deg) translate(4.6em);
    }
    
    .middle-ring .tile:nth-child(9) {
        transform: rotate(288deg) translate(4.6em);
    }
    
    .middle-ring .tile:nth-child(10) {
        transform: rotate(324deg) translate(4.6em);
    }
    
    
    .inner-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(2.1em);
    }
    
    .inner-ring .tile:nth-child(2) {
        transform: rotate(72deg) translate(2.1em);
    }
    
    .inner-ring .tile:nth-child(3) {
        transform: rotate(144deg) translate(2.1em);
    }
    
    .inner-ring .tile:nth-child(4) {
        transform: rotate(216deg) translate(2.1em);
    }
    
    .inner-ring .tile:nth-child(5) {
        transform: rotate(288deg) translate(2.1em);
    }

    .table {
        font-size: 75%;
    }

    .index-play-game {
        position: absolute;
        width: 80%;
        height: 10%;
        top: 35%;
    }

    .index-play-game h4 {
        position: inherit;
        font-size: 100%;
        transform: translate(0%, 0%);
        bottom: 0;
    }

    .index-scoreboard {
        position: absolute;
        width: 80%;
        height: 10%;
        top: 50%;
    }

    .index-scoreboard h4 {
        position: inherit;
        font-size: 100%;
        transform: translate(0%, 0%);
        bottom: 0;
    }

    .contact-form input.btn {
        width: 40%;
    }

}


@media (max-width: 480px) and (min-width: 350px) {
    .timer { 
        min-height: 5em;
        width: 5em;
    }

    .tile-back {
        width: 2.5em;
        height: 2.5em;
    }
    
    .tile-front {
        width: 2.5em;
        height: 2.5em;
    }

    .tile-front i {
        font-size: 1.25em;    
    }

    .timer p {
        font-size: 250%; 
    }

    .timer i {
        font-size: 250%; 
    }

    .score-tally {
        height: 15%;
    }

    .score-tally h5 {
        font-size: 90%;
    }

    .reset-button {
        font-size: 90%;
    }

    .rules {
        font-size: 55%;
    }
    
    .outer-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(8.5em);
    }
    
    .outer-ring .tile:nth-child(2) {
        transform: rotate(24deg) translate(8.5em);
    }
    
    .outer-ring .tile:nth-child(3) {
        transform: rotate(48deg) translate(8.5em);
    }
    
    .outer-ring .tile:nth-child(4) {
        transform: rotate(72deg) translate(8.5em);
    }
    
    .outer-ring .tile:nth-child(5) {
        transform: rotate(96deg) translate(8.5em);
    }
    
    .outer-ring .tile:nth-child(6) {
        transform: rotate(120deg) translate(8.5em);
    }
    
    .outer-ring .tile:nth-child(7) {
        transform: rotate(144deg) translate(8.5em);
    }
    
    .outer-ring .tile:nth-child(8) {
        transform: rotate(168deg) translate(8.5em);
    }
    
    .outer-ring .tile:nth-child(9) {
        transform: rotate(192deg) translate(8.5em);
    }
    
    .outer-ring .tile:nth-child(10) {
        transform: rotate(216deg) translate(8.5em);
    }
    
    .outer-ring .tile:nth-child(11) {
        transform: rotate(240deg) translate(8.5em);
    }
    
    .outer-ring .tile:nth-child(12) {
        transform: rotate(264deg) translate(8.5em);
    }
    
    .outer-ring .tile:nth-child(13) {
        transform: rotate(288deg) translate(8.5em);
    }
    
    .outer-ring .tile:nth-child(14) {
        transform: rotate(312deg) translate(8.5em);
    }
    
    .outer-ring .tile:nth-child(15) {
        transform: rotate(336deg) translate(8.5em);
    }
    
    
    .middle-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(5.5em);
    }
    
    .middle-ring .tile:nth-child(2) {
        transform: rotate(36deg) translate(5.5em);
    }
    
    .middle-ring .tile:nth-child(3) {
        transform: rotate(72deg) translate(5.5em);
    }
    
    .middle-ring .tile:nth-child(4) {
        transform: rotate(108deg) translate(5.5em);
    }
    
    .middle-ring .tile:nth-child(5) {
        transform: rotate(144deg) translate(5.5em);
    }
    
    .middle-ring .tile:nth-child(6) {
        transform: rotate(180deg) translate(5.5em);
    }
    
    .middle-ring .tile:nth-child(7) {
        transform: rotate(216deg) translate(5.5em);
    }
    
    .middle-ring .tile:nth-child(8) {
        transform: rotate(252deg) translate(5.5em);
    }
    
    .middle-ring .tile:nth-child(9) {
        transform: rotate(288deg) translate(5.5em);
    }
    
    .middle-ring .tile:nth-child(10) {
        transform: rotate(324deg) translate(5.5em);
    }
    
    
    .inner-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(2.5em);
    }
    
    .inner-ring .tile:nth-child(2) {
        transform: rotate(72deg) translate(2.5em);
    }
    
    .inner-ring .tile:nth-child(3) {
        transform: rotate(144deg) translate(2.5em);
    }
    
    .inner-ring .tile:nth-child(4) {
        transform: rotate(216deg) translate(2.5em);
    }
    
    .inner-ring .tile:nth-child(5) {
        transform: rotate(288deg) translate(2.5em);
    }

    .index-play-game {
        width: 80%;
    }

    .index-scoreboard {
        width: 80%; 
    }

    .table {
        font-size: 100%;
    }
    
    .nav-game-button {
        position: inherit;
        padding: 0;
        margin: 0;
        transform: translate(0%, 0%);
        font-size: 100%;
    }
    
}


@media (max-width: 600px) and (min-width: 500px) {
    .timer { 
        min-height: 6.5em;
        width: 6.5em;
    }
    
    .tile-back {
        width: 3.25em;
        height: 3.25em;
    }
    
    .tile-front {
        width: 3.25em;
        height: 3.25em;
    }

    .tile-front i {
        font-size: 1.625em;    
    }

    .timer p {
        font-size: 325%; 
    }

    .timer i {
        font-size: 325%; 
    }

    .score-tally  {
        height: 10%;
        bottom: 0%;
    }

    .reset-button  {
        bottom: 0;
        font-size: 100%;
    }

    .rules {
        font-size: 60%;
    }

    .score-tally h5 {
        font-size: 100%;
    }
    
    .outer-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(2) {
        transform: rotate(24deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(3) {
        transform: rotate(48deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(4) {
        transform: rotate(72deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(5) {
        transform: rotate(96deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(6) {
        transform: rotate(120deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(7) {
        transform: rotate(144deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(8) {
        transform: rotate(168deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(9) {
        transform: rotate(192deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(10) {
        transform: rotate(216deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(11) {
        transform: rotate(240deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(12) {
        transform: rotate(264deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(13) {
        transform: rotate(288deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(14) {
        transform: rotate(312deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(15) {
        transform: rotate(336deg) translate(12.75em);
    }
    
    
    .middle-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(2) {
        transform: rotate(36deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(3) {
        transform: rotate(72deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(4) {
        transform: rotate(108deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(5) {
        transform: rotate(144deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(6) {
        transform: rotate(180deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(7) {
        transform: rotate(216deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(8) {
        transform: rotate(252deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(9) {
        transform: rotate(288deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(10) {
        transform: rotate(324deg) translate(8em);
    }
    
    .inner-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(3.25em);
    }
    
    .inner-ring .tile:nth-child(2) {
        transform: rotate(72deg) translate(3.25em);
    }
    
    .inner-ring .tile:nth-child(3) {
        transform: rotate(144deg) translate(3.25em);
    }
    
    .inner-ring .tile:nth-child(4) {
        transform: rotate(216deg) translate(3.25em);
    }
    
    .inner-ring .tile:nth-child(5) {
        transform: rotate(288deg) translate(3.25em);
    }
    
}

/***********Tablet Size Game*/

@media (min-width: 768px) {
    .timer { 
        min-height: 9em;
        width: 9em;
        background-color: white;
        border-radius: 50%;
        border: solid 1px black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Raleway', sans-serif;
        color: #32CD32;
    }

    .tile-back {
        width: 4.5em;
        height: 4.5em;
    }
    
    .tile-front {
        width: 4.5em;
        height: 4.5em;
    }

    .tile-front i {
        font-size: 2.25em;    
    }

    .timer p {
        font-size: 450%; 
    }

    .timer i {
        font-size: 450%; 
    }

    .outer-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(2) {
        transform: rotate(24deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(3) {
        transform: rotate(48deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(4) {
        transform: rotate(72deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(5) {
        transform: rotate(96deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(6) {
        transform: rotate(120deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(7) {
        transform: rotate(144deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(8) {
        transform: rotate(168deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(9) {
        transform: rotate(192deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(10) {
        transform: rotate(216deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(11) {
        transform: rotate(240deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(12) {
        transform: rotate(264deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(13) {
        transform: rotate(288deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(14) {
        transform: rotate(312deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(15) {
        transform: rotate(336deg) translate(16.5em);
    }
    
    
    .middle-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(10.5em);
    }
    
    .middle-ring .tile:nth-child(2) {
        transform: rotate(36deg) translate(10.5em);
    }
    
    .middle-ring .tile:nth-child(3) {
        transform: rotate(72deg) translate(10.5em);
    }
    
    .middle-ring .tile:nth-child(4) {
        transform: rotate(108deg) translate(10.5em);
    }
    
    .middle-ring .tile:nth-child(5) {
        transform: rotate(144deg) translate(10.5em);
    }
    
    .middle-ring .tile:nth-child(6) {
        transform: rotate(180deg) translate(10.5em);
    }
    
    .middle-ring .tile:nth-child(7) {
        transform: rotate(216deg) translate(10.5em);
    }
    
    .middle-ring .tile:nth-child(8) {
        transform: rotate(252deg) translate(10.5em);
    }
    
    .middle-ring .tile:nth-child(9) {
        transform: rotate(288deg) translate(10.5em);
    }
    
    .middle-ring .tile:nth-child(10) {
        transform: rotate(324deg) translate(10.5em);
    }
    
    
    .inner-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(4.5em);
    }
    
    .inner-ring .tile:nth-child(2) {
        transform: rotate(72deg) translate(4.5em);
    }
    
    .inner-ring .tile:nth-child(3) {
        transform: rotate(144deg) translate(4.5em);
    }
    
    .inner-ring .tile:nth-child(4) {
        transform: rotate(216deg) translate(4.5em);
    }
    
    .inner-ring .tile:nth-child(5) {
        transform: rotate(288deg) translate(4.5em);
    }

    
}

/*********Toggler Tab Fix*/

@media (max-width: 990px) {
    .nav-game-button {
        position: inherit;
        padding: 0;
        margin: 0;
        transform: translate(0%, 0%);
        font-size: 100%;
    }
}

/***********Laptop Size Game*/

@media (min-width: 1025px) {

    .outer-ring {
        border-radius: 50%;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        perspective: 1000px;
    }
    
    .middle-ring {
        border-radius: 50%;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        perspective: 1000px;
    }
    
    .inner-ring {
        border-radius: 50%;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        perspective: 1000px;
    }
    
    .timer { 
        min-height: 7em;
        width: 7em;
        background-color: white;
        border-radius: 50%;
        border: solid 1px black;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Raleway', sans-serif;
        color: #32CD32;
    }

    .timer p {
        font-size: 300%; 
    }

    .timer i {
        font-size: 300%; 
    }
    
    .tile-back {
        width: 3.5em;
        height: 3.5em;
    }
    
    .tile-front {
        width: 3.5em;
        height: 3.5em;
    }

    .tile-front i {
        font-size: 1.75em;    
    }


    .outer-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(2) {
        transform: rotate(24deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(3) {
        transform: rotate(48deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(4) {
        transform: rotate(72deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(5) {
        transform: rotate(96deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(6) {
        transform: rotate(120deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(7) {
        transform: rotate(144deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(8) {
        transform: rotate(168deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(9) {
        transform: rotate(192deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(10) {
        transform: rotate(216deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(11) {
        transform: rotate(240deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(12) {
        transform: rotate(264deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(13) {
        transform: rotate(288deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(14) {
        transform: rotate(312deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(15) {
        transform: rotate(336deg) translate(12.5em);
    }
    
    
    .middle-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(2) {
        transform: rotate(36deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(3) {
        transform: rotate(72deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(4) {
        transform: rotate(108deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(5) {
        transform: rotate(144deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(6) {
        transform: rotate(180deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(7) {
        transform: rotate(216deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(8) {
        transform: rotate(252deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(9) {
        transform: rotate(288deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(10) {
        transform: rotate(324deg) translate(8em);
    }
    
    
    .inner-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(3.5em);
    }
    
    .inner-ring .tile:nth-child(2) {
        transform: rotate(72deg) translate(3.5em);
    }
    
    .inner-ring .tile:nth-child(3) {
        transform: rotate(144deg) translate(3.5em);
    }
    
    .inner-ring .tile:nth-child(4) {
        transform: rotate(216deg) translate(3.5em);
    }
    
    .inner-ring .tile:nth-child(5) {
        transform: rotate(288deg) translate(3.5em);
    }
}


/***********Desktop Size Game*/


@media (min-width: 1440px) {
    .timer { 
        min-height: 10em;
        width: 10em;
        background-color: white;
        border-radius: 50%;
        border: solid 1px black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Raleway', sans-serif;
        color: #32CD32;
}

.timer p {
    font-size: 500%; 
    color: #32CD32;   
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    display: block;
}

.timer i {
    font-size: 500%; 
    color: #32CD32;   
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
    display: block;
}

.outer-ring {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 1000px;

}


.middle-ring {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 1000px;
}

.inner-ring {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 1000px;
}


.tile {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform: scale(1);
    transform-style: preserve-3d;
}

.tile.done {
    cursor: default;
}

.tile.done:hover {
    cursor: default;
    box-shadow: none;
}

.null {
    pointer-events: none;
}

.tile-front {
    width: 5em;
    height: 5em;
   
}

.tile-front i {
    font-size: 2.5em;    
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    width: 1.1em;
    height: 1.1em;
    display: block;
}

.tile-front,.tile-back:hover {
    border: solid 2px white;
}


.tile .tile-front {
    transform: rotateY(-360deg);
}

.tile-back {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: solid 1px black;
    background-color: #ff68a8;
    color: #ff68a8;
    position: absolute;
}

    
    .outer-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(2) {
        transform: rotate(24deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(3) {
        transform: rotate(48deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(4) {
        transform: rotate(72deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(5) {
        transform: rotate(96deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(6) {
        transform: rotate(120deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(7) {
        transform: rotate(144deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(8) {
        transform: rotate(168deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(9) {
        transform: rotate(192deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(10) {
        transform: rotate(216deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(11) {
        transform: rotate(240deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(12) {
        transform: rotate(264deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(13) {
        transform: rotate(288deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(14) {
        transform: rotate(312deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(15) {
        transform: rotate(336deg) translate(19em);
    }
    
    
    .middle-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(12em);
    }
    
    .middle-ring .tile:nth-child(2) {
        transform: rotate(36deg) translate(12em);
    }
    
    .middle-ring .tile:nth-child(3) {
        transform: rotate(72deg) translate(12em);
    }
    
    .middle-ring .tile:nth-child(4) {
        transform: rotate(108deg) translate(12em);
    }
    
    .middle-ring .tile:nth-child(5) {
        transform: rotate(144deg) translate(12em);
    }
    
    .middle-ring .tile:nth-child(6) {
        transform: rotate(180deg) translate(12em);
    }
    
    .middle-ring .tile:nth-child(7) {
        transform: rotate(216deg) translate(12em);
    }
    
    .middle-ring .tile:nth-child(8) {
        transform: rotate(252deg) translate(12em);
    }
    
    .middle-ring .tile:nth-child(9) {
        transform: rotate(288deg) translate(12em);
    }
    
    .middle-ring .tile:nth-child(10) {
        transform: rotate(324deg) translate(12em);
    }
    
    
    .inner-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(5em);
    }
    
    .inner-ring .tile:nth-child(2) {
        transform: rotate(72deg) translate(5em);
    }
    
    .inner-ring .tile:nth-child(3) {
        transform: rotate(144deg) translate(5em);
    }
    
    .inner-ring .tile:nth-child(4) {
        transform: rotate(216deg) translate(5em);
    }
    
    .inner-ring .tile:nth-child(5) {
        transform: rotate(288deg) translate(5em);
    }
}

