@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Righteous&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    width: 100%;
    min-height: 100%;
    position: absolute;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Righteous', cursive;
    font-size: 400%;
    text-transform: uppercase;
    color: #F8E924;
}



header {
    background-color: #2da7d9;
    min-height: 15%;
    width: 100%;
}

nav ul li a {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 300;
    border: solid 1px #F8E924;
}

.nav-game-button {
    position: absolute;
    left: 46%;
    border: 1px solid white;
    font-family: 'Righteous', cursive;
    font-size: 200%;
}

.game-body {
    width: 100%;
    min-height: 50vw;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}

.game-body h3 {
    color: black;
    margin: 0 auto;
}

.game-board {
    min-height: 100vh;
    background-color: #F8E924;
    margin: 0 auto;
    padding: 0;
} 

.outer-ring {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 1000px;

}


.middle-ring {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 1000px;
}

.inner-ring {
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 1000px;
}


.tile {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform: scale(1);
    transform-style: preserve-3d;
}

.tile.done {
    cursor: default;
}

.tile.done:hover {
    cursor: default;
    box-shadow: none;
}


/*
.outer-ring:hover .tile {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.middle-ring:hover .tile {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}

.inner-ring:hover .tile {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
*/
.timer { 
    min-height: 10em;
    width: 10em;
    background-color: white;
    border-radius: 50%;
    border: solid 1px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.timer i {
    font-size: 5.5em; 
    color: lime;   
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    width: 1.4em;
    height: 1.1em;
    display: block;
}

.timer-icon-style { 
    color: lime; 
    font-size: 100%;
    padding: 0;
    margin: 0 auto;
}

.null {
    pointer-events: none;
}

.tile-front {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: solid 1px black;
    background-color: white;
    position: absolute;
    padding: 0;
    margin: 0 auto;
}

.tile-front i {
    font-size: 2.5em;    
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    width: 1.1em;
    height: 1.1em;
    display: block;
}

.tile-front,.tile-back:hover {
    border: solid 2px white;
}

.tile .tile-front {
    transform: rotateY(-360deg);
}

.tile-back {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: solid 1px black;
    background-color: #ff68a8;
    color: #ff68a8;
    position: absolute;
}

.outer-ring .tile:nth-child(1) {
    transform: rotate(0deg) translate(19em);
}

.outer-ring .tile:nth-child(2) {
    transform: rotate(24deg) translate(19em);
}

.outer-ring .tile:nth-child(3) {
    transform: rotate(48deg) translate(19em);
}

.outer-ring .tile:nth-child(4) {
    transform: rotate(72deg) translate(19em);
}

.outer-ring .tile:nth-child(5) {
    transform: rotate(96deg) translate(19em);
}

.outer-ring .tile:nth-child(6) {
    transform: rotate(120deg) translate(19em);
}

.outer-ring .tile:nth-child(7) {
    transform: rotate(144deg) translate(19em);
}

.outer-ring .tile:nth-child(8) {
    transform: rotate(168deg) translate(19em);
}

.outer-ring .tile:nth-child(9) {
    transform: rotate(192deg) translate(19em);
}

.outer-ring .tile:nth-child(10) {
    transform: rotate(216deg) translate(19em);
}

.outer-ring .tile:nth-child(11) {
    transform: rotate(240deg) translate(19em);
}

.outer-ring .tile:nth-child(12) {
    transform: rotate(264deg) translate(19em);
}

.outer-ring .tile:nth-child(13) {
    transform: rotate(288deg) translate(19em);
}

.outer-ring .tile:nth-child(14) {
    transform: rotate(312deg) translate(19em);
}

.outer-ring .tile:nth-child(15) {
    transform: rotate(336deg) translate(19em);
}


.middle-ring .tile:nth-child(1) {
    transform: rotate(0deg) translate(12em);
}

.middle-ring .tile:nth-child(2) {
    transform: rotate(36deg) translate(12em);
}

.middle-ring .tile:nth-child(3) {
    transform: rotate(72deg) translate(12em);
}

.middle-ring .tile:nth-child(4) {
    transform: rotate(108deg) translate(12em);
}

.middle-ring .tile:nth-child(5) {
    transform: rotate(144deg) translate(12em);
}

.middle-ring .tile:nth-child(6) {
    transform: rotate(180deg) translate(12em);
}

.middle-ring .tile:nth-child(7) {
    transform: rotate(216deg) translate(12em);
}

.middle-ring .tile:nth-child(8) {
    transform: rotate(252deg) translate(12em);
}

.middle-ring .tile:nth-child(9) {
    transform: rotate(288deg) translate(12em);
}

.middle-ring .tile:nth-child(10) {
    transform: rotate(324deg) translate(12em);
}


.inner-ring .tile:nth-child(1) {
    transform: rotate(0deg) translate(5em);
}

.inner-ring .tile:nth-child(2) {
    transform: rotate(72deg) translate(5em);
}

.inner-ring .tile:nth-child(3) {
    transform: rotate(144deg) translate(5em);
}

.inner-ring .tile:nth-child(4) {
    transform: rotate(216deg) translate(5em);
}

.inner-ring .tile:nth-child(5) {
    transform: rotate(288deg) translate(5em);
}



/***********Mobile Size Game

@media (max-width: 480px) {
    .timer { 
        min-height: 4em;
        width: 4em;
        background-color: white;
        border-radius: 50%;
        border: solid 1px black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .tile-back {
        width: 2em;
        height: 2em;
        border-radius: 50%;
        border: solid 1px black;
        background-color: #ff68a8;
        z-index: 101;
        position: absolute;
    }
    
    .tile-front {
        width: 2em;
        height: 2em;
        border-radius: 50%;
        border: solid 1px black;
        background-color: white;
        z-index: 100;
        position: absolute;
    }
    
    .tile-back:hover {
        border: solid 2px white;
    }
    
    .tile-front:hover {
        border: solid 2px white;
    }
    
    .outer-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(8em);
    }
    
    .outer-ring .tile:nth-child(2) {
        transform: rotate(24deg) translate(8em);
    }
    
    .outer-ring .tile:nth-child(3) {
        transform: rotate(48deg) translate(8em);
    }
    
    .outer-ring .tile:nth-child(4) {
        transform: rotate(72deg) translate(8em);
    }
    
    .outer-ring .tile:nth-child(5) {
        transform: rotate(96deg) translate(8em);
    }
    
    .outer-ring .tile:nth-child(6) {
        transform: rotate(120deg) translate(8em);
    }
    
    .outer-ring .tile:nth-child(7) {
        transform: rotate(144deg) translate(8em);
    }
    
    .outer-ring .tile:nth-child(8) {
        transform: rotate(168deg) translate(8em);
    }
    
    .outer-ring .tile:nth-child(9) {
        transform: rotate(192deg) translate(8em);
    }
    
    .outer-ring .tile:nth-child(10) {
        transform: rotate(216deg) translate(8em);
    }
    
    .outer-ring .tile:nth-child(11) {
        transform: rotate(240deg) translate(8em);
    }
    
    .outer-ring .tile:nth-child(12) {
        transform: rotate(264deg) translate(8em);
    }
    
    .outer-ring .tile:nth-child(13) {
        transform: rotate(288deg) translate(8em);
    }
    
    .outer-ring .tile:nth-child(14) {
        transform: rotate(312deg) translate(8em);
    }
    
    .outer-ring .tile:nth-child(15) {
        transform: rotate(336deg) translate(8em);
    }
    
    
    .middle-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(5em);
    }
    
    .middle-ring .tile:nth-child(2) {
        transform: rotate(36deg) translate(5em);
    }
    
    .middle-ring .tile:nth-child(3) {
        transform: rotate(72deg) translate(5em);
    }
    
    .middle-ring .tile:nth-child(4) {
        transform: rotate(108deg) translate(5em);
    }
    
    .middle-ring .tile:nth-child(5) {
        transform: rotate(144deg) translate(5em);
    }
    
    .middle-ring .tile:nth-child(6) {
        transform: rotate(180deg) translate(5em);
    }
    
    .middle-ring .tile:nth-child(7) {
        transform: rotate(216deg) translate(5em);
    }
    
    .middle-ring .tile:nth-child(8) {
        transform: rotate(252deg) translate(5em);
    }
    
    .middle-ring .tile:nth-child(9) {
        transform: rotate(288deg) translate(5em);
    }
    
    .middle-ring .tile:nth-child(10) {
        transform: rotate(324deg) translate(5em);
    }
    
    
    .inner-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(2em);
    }
    
    .inner-ring .tile:nth-child(2) {
        transform: rotate(72deg) translate(2em);
    }
    
    .inner-ring .tile:nth-child(3) {
        transform: rotate(144deg) translate(2em);
    }
    
    .inner-ring .tile:nth-child(4) {
        transform: rotate(216deg) translate(2em);
    }
    
    .inner-ring .tile:nth-child(5) {
        transform: rotate(288deg) translate(2em);
    }
    
}

@media (max-width: 576px) {
    .timer { 
        min-height: 6.5em;
        width: 6.5em;
        background-color: white;
        border-radius: 50%;
        border: solid 1px black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .tile-back {
        width: 3.25em;
        height: 3.25em;
        border-radius: 50%;
        border: solid 1px black;
        background-color: #ff68a8;
        z-index: 101;
        position: absolute;
    }
    
    .tile-front {
        width: 3.25em;
        height: 3.25em;
        border-radius: 50%;
        border: solid 1px black;
        background-color: white;
        z-index: 100;
        position: absolute;
    }
    


    .tile-back:hover {
        border: solid 2px white;
    }
    
    .tile-front:hover {
        border: solid 2px white;
    }
    
    .outer-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(2) {
        transform: rotate(24deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(3) {
        transform: rotate(48deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(4) {
        transform: rotate(72deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(5) {
        transform: rotate(96deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(6) {
        transform: rotate(120deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(7) {
        transform: rotate(144deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(8) {
        transform: rotate(168deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(9) {
        transform: rotate(192deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(10) {
        transform: rotate(216deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(11) {
        transform: rotate(240deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(12) {
        transform: rotate(264deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(13) {
        transform: rotate(288deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(14) {
        transform: rotate(312deg) translate(12.75em);
    }
    
    .outer-ring .tile:nth-child(15) {
        transform: rotate(336deg) translate(12.75em);
    }
    
    
    .middle-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(2) {
        transform: rotate(36deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(3) {
        transform: rotate(72deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(4) {
        transform: rotate(108deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(5) {
        transform: rotate(144deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(6) {
        transform: rotate(180deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(7) {
        transform: rotate(216deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(8) {
        transform: rotate(252deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(9) {
        transform: rotate(288deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(10) {
        transform: rotate(324deg) translate(8em);
    }
    
    .inner-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(3.25em);
    }
    
    .inner-ring .tile:nth-child(2) {
        transform: rotate(72deg) translate(3.25em);
    }
    
    .inner-ring .tile:nth-child(3) {
        transform: rotate(144deg) translate(3.25em);
    }
    
    .inner-ring .tile:nth-child(4) {
        transform: rotate(216deg) translate(3.25em);
    }
    
    .inner-ring .tile:nth-child(5) {
        transform: rotate(288deg) translate(3.25em);
    }
    
}
*/
/***********Tablet Size Game*/
/*
@media (min-width: 768px) {
    .timer { 
        min-height: 9em;
        width: 9em;
        background-color: white;
        border-radius: 50%;
        border: solid 1px black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .tile-back {
        width: 4.5em;
        height: 4.5em;
        border-radius: 50%;
        border: solid 1px black;
        background-color: #ff68a8;
        z-index: 101;
        position: absolute;
    }
    
    .tile-front {
        width: 4.5em;
        height: 4.5em;
        border-radius: 50%;
        border: solid 1px black;
        background-color: white;
        z-index: 100;
        position: absolute;
    }
    
    .tile-back:hover {
        border: solid 2px white;
    }
    
    .tile-front:hover {
        border: solid 2px white;
    }
    
    .outer-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(2) {
        transform: rotate(24deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(3) {
        transform: rotate(48deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(4) {
        transform: rotate(72deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(5) {
        transform: rotate(96deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(6) {
        transform: rotate(120deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(7) {
        transform: rotate(144deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(8) {
        transform: rotate(168deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(9) {
        transform: rotate(192deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(10) {
        transform: rotate(216deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(11) {
        transform: rotate(240deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(12) {
        transform: rotate(264deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(13) {
        transform: rotate(288deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(14) {
        transform: rotate(312deg) translate(16.5em);
    }
    
    .outer-ring .tile:nth-child(15) {
        transform: rotate(336deg) translate(16.5em);
    }
    
    
    .middle-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(10.5em);
    }
    
    .middle-ring .tile:nth-child(2) {
        transform: rotate(36deg) translate(10.5em);
    }
    
    .middle-ring .tile:nth-child(3) {
        transform: rotate(72deg) translate(10.5em);
    }
    
    .middle-ring .tile:nth-child(4) {
        transform: rotate(108deg) translate(10.5em);
    }
    
    .middle-ring .tile:nth-child(5) {
        transform: rotate(144deg) translate(10.5em);
    }
    
    .middle-ring .tile:nth-child(6) {
        transform: rotate(180deg) translate(10.5em);
    }
    
    .middle-ring .tile:nth-child(7) {
        transform: rotate(216deg) translate(10.5em);
    }
    
    .middle-ring .tile:nth-child(8) {
        transform: rotate(252deg) translate(10.5em);
    }
    
    .middle-ring .tile:nth-child(9) {
        transform: rotate(288deg) translate(10.5em);
    }
    
    .middle-ring .tile:nth-child(10) {
        transform: rotate(324deg) translate(10.5em);
    }
    
    
    .inner-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(4.5em);
    }
    
    .inner-ring .tile:nth-child(2) {
        transform: rotate(72deg) translate(4.5em);
    }
    
    .inner-ring .tile:nth-child(3) {
        transform: rotate(144deg) translate(4.5em);
    }
    
    .inner-ring .tile:nth-child(4) {
        transform: rotate(216deg) translate(4.5em);
    }
    
    .inner-ring .tile:nth-child(5) {
        transform: rotate(288deg) translate(4.5em);
    }
}
*/
/***********Laptop Size Game*/
/*
@media (min-width: 1025px) {
    .timer { 
        min-height: 7em;
        width: 7em;
        background-color: white;
        border-radius: 50%;
        border: solid 1px black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .tile-back {
        width: 3.5em;
        height: 3.5em;
        border-radius: 50%;
        border: solid 1px black;
        background-color: #ff68a8;
        z-index: 101;
        position: absolute;
    }
    
    .tile-front {
        width: 3.5em;
        height: 3.5em;
        border-radius: 50%;
        border: solid 1px black;
        background-color: white;
        z-index: 100;
        position: absolute;
    }
    
    .tile-back:hover {
        border: solid 2px white;
    }
    
    .tile-front:hover {
        border: solid 2px white;
    }
    
    .outer-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(2) {
        transform: rotate(24deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(3) {
        transform: rotate(48deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(4) {
        transform: rotate(72deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(5) {
        transform: rotate(96deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(6) {
        transform: rotate(120deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(7) {
        transform: rotate(144deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(8) {
        transform: rotate(168deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(9) {
        transform: rotate(192deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(10) {
        transform: rotate(216deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(11) {
        transform: rotate(240deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(12) {
        transform: rotate(264deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(13) {
        transform: rotate(288deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(14) {
        transform: rotate(312deg) translate(12.5em);
    }
    
    .outer-ring .tile:nth-child(15) {
        transform: rotate(336deg) translate(12.5em);
    }
    
    
    .middle-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(2) {
        transform: rotate(36deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(3) {
        transform: rotate(72deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(4) {
        transform: rotate(108deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(5) {
        transform: rotate(144deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(6) {
        transform: rotate(180deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(7) {
        transform: rotate(216deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(8) {
        transform: rotate(252deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(9) {
        transform: rotate(288deg) translate(8em);
    }
    
    .middle-ring .tile:nth-child(10) {
        transform: rotate(324deg) translate(8em);
    }
    
    
    .inner-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(3.5em);
    }
    
    .inner-ring .tile:nth-child(2) {
        transform: rotate(72deg) translate(3.5em);
    }
    
    .inner-ring .tile:nth-child(3) {
        transform: rotate(144deg) translate(3.5em);
    }
    
    .inner-ring .tile:nth-child(4) {
        transform: rotate(216deg) translate(3.5em);
    }
    
    .inner-ring .tile:nth-child(5) {
        transform: rotate(288deg) translate(3.5em);
    }
}
*/
/***********Desktop Size Game*/

/*
@media (min-width: 1440px) {
    .timer { 
        min-height: 10em;
        width: 10em;
        background-color: white;
        border-radius: 50%;
        border: solid 1px black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .tile-back {
        width: 5em;
        height: 5em;
        border-radius: 50%;
        border: solid 1px black;
        background-color: #ff68a8;
    }
    
    .tile-front {
        width: 5em;
        height: 5em;
        border-radius: 50%;
        border: solid 1px black;
        background-color: white;
        z-index: 101;
    }

    .tile .tile-front i {
        height: 90%;
        width: 90%;
        color: black;
        margin: 0 auto;
    }
    
    .tile:hover .tile-back {
        transform: rotateY(-180deg);
    }
    
    .tile:hover .tile-front {
        transform: rotateY(0);
    }
    
    
    .outer-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(2) {
        transform: rotate(24deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(3) {
        transform: rotate(48deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(4) {
        transform: rotate(72deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(5) {
        transform: rotate(96deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(6) {
        transform: rotate(120deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(7) {
        transform: rotate(144deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(8) {
        transform: rotate(168deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(9) {
        transform: rotate(192deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(10) {
        transform: rotate(216deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(11) {
        transform: rotate(240deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(12) {
        transform: rotate(264deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(13) {
        transform: rotate(288deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(14) {
        transform: rotate(312deg) translate(19em);
    }
    
    .outer-ring .tile:nth-child(15) {
        transform: rotate(336deg) translate(19em);
    }
    
    
    .middle-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(12em);
    }
    
    .middle-ring .tile:nth-child(2) {
        transform: rotate(36deg) translate(12em);
    }
    
    .middle-ring .tile:nth-child(3) {
        transform: rotate(72deg) translate(12em);
    }
    
    .middle-ring .tile:nth-child(4) {
        transform: rotate(108deg) translate(12em);
    }
    
    .middle-ring .tile:nth-child(5) {
        transform: rotate(144deg) translate(12em);
    }
    
    .middle-ring .tile:nth-child(6) {
        transform: rotate(180deg) translate(12em);
    }
    
    .middle-ring .tile:nth-child(7) {
        transform: rotate(216deg) translate(12em);
    }
    
    .middle-ring .tile:nth-child(8) {
        transform: rotate(252deg) translate(12em);
    }
    
    .middle-ring .tile:nth-child(9) {
        transform: rotate(288deg) translate(12em);
    }
    
    .middle-ring .tile:nth-child(10) {
        transform: rotate(324deg) translate(12em);
    }
    
    
    .inner-ring .tile:nth-child(1) {
        transform: rotate(0deg) translate(5em);
    }
    
    .inner-ring .tile:nth-child(2) {
        transform: rotate(72deg) translate(5em);
    }
    
    .inner-ring .tile:nth-child(3) {
        transform: rotate(144deg) translate(5em);
    }
    
    .inner-ring .tile:nth-child(4) {
        transform: rotate(216deg) translate(5em);
    }
    
    .inner-ring .tile:nth-child(5) {
        transform: rotate(288deg) translate(5em);
    }
}


/***********In Game Scoreboard*/

.score-tally {
    width: 33%;
    height: 100px;
    border: 1px solid black;
    background-color: white;
    color: black;
    position: absolute;
    bottom: 5%;
}

.reset-button {
    width: 25%;
    height: 50px;
    border: 1px solid black;
    background-color: white;
    color: black;
    position: absolute;
    bottom: 10%;
    right: 0;
}

.toggle-switch {
    width: 25%;
    height: 50px;
    border: 1px solid black;
    background-color: white;
    color: black;
    position: absolute;
    bottom: 5%;
    right: 0;
}